@import"../base/global.css";


/* ----switch--style--start--- */

.switch {
    width: 35px;
    height: 20px;
    padding: 2px;
    border-radius: 10px;
    background-color: black;
    appearance: none;
    transition: 0.5s linear;
    border: 1px solid orange;
    cursor: pointer;
  }
  
  .switch::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s linear;
    border: 1px solid #3858D6;
  }
  
  .switch:checked {
    background-color: #fff;
  }
  
  .switch:checked::after {
    margin-left: 15px;
    background-color: black;
  }

  /* ----switch--style--end----- */

   /* dark---light--start */

   .dark{
    background-color: #0B0B0B;
    color: #fff;
  }
  .dark .container div *{
    color: #FFF;
    
  }

  .dark .container div div div button *{
    color: #F53855;
  }

  .dark .header .header-search-box{
    border: 1px solid white;
    color: #fff;
  }

  .dark .watch-about .card {
    background-color: #383638;
    color: #FFF;
  }

 

  .dark nav *{
    color: #fff;
  }

  .dark nav{
    background-color: #383638;
  }

  .dark footer{
    background-color: #383638;
  }

 .dark .container button{
    background-color: #0B0B0B;
 }

 .dark .container button:hover {
    color: #FFF;
    background: #F53838;
    box-shadow:20px 35px 27px -20px #F5383859;
}
.dark .section-2__card-box__card{
    background-color: #0B0B0B;
}

.dark .section-5__card-box{
    background-color: #0B0B0B;
    border: 2px solid #F53838;
}
/* ------------end------- */
